{% extends 'base.html.twig' %}

{% block title %}{{'add_dish'|trans}}{% endblock %}

{% block body %}
<h1>{{'add_dish'|trans}}</h1>
{{form_start(form)}}
<button type="submit">{{'add_dish'|trans}}</button>
{{form_end(form)}}
</div>


{% endblock %}
