{% extends 'base.html.twig' %}

{% block title %}{{'add_section'|trans}}{% endblock %}

{% block body %}
<h1>{{'add_section'|trans}}</h1>
{{form_start(form)}}
{{form_row(form.Name)}}
<button type="submit">{{'add_section'|trans}}</button>
{{form_end(form)}}
</div>


{% endblock %}
    